.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  margin: 0 auto;
  background-color: #222222;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.gameImage {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 1rem;
}

.gameTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  color: orange;
}

.gameDescription {
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 1rem;
  font-weight: 200;
  margin-left: 1rem; /* Añade un margen izquierdo para separar de los demás elementos */
}

.container p {
  color: orange;
  text-align: left;
}

.container span {
  color: white;
  font-weight: bold;
  justify-content: flex-start;
  text-align: left;
}