.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    background-color: #222222;
}

.gameImage {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 1rem;
  }

  .gameTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color:orange;
  }

  .gameDescription {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 1rem;
    color:white;
    font-weight: 200px;
  }

  .gameRating {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display:flex;
    text-align: left;
  }

  .container p{
    color:white;
  }