.filter{
  
  display: flex;
  margin-bottom: 20px;
  position: absolute;
  top: 80px; 
  left: 20px; 
  z-index: 1; 

}

  .filter input {
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
    border: 1px solid black;
    color:white;
    width: 175px;
    height: 20px;
  }

  .filter input::placeholder{
    color: rgb(161, 161, 161);
    font-size: 15px;
  }

  .sectionOptions {
    color: white;
    background-color: rgb(53, 53, 53);
    transition-duration: 0.2s;
    border-radius: 7px;
  }

  .sectionOptions:hover{
    color:black;
    background-color: orange;
  }

  .sectionContainer{
    border-radius: 10px;
  }




