.container {
    display: flex;
    border-radius: 15px;
    padding: 5px;
  }

.container input{
  background-color: rgb(104, 104, 104);
  color: black;
}

.container input::placeholder{
  color: rgb(161, 161, 161);
  font-size: 15px;
}