.landing {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  
.landing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .landing h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color:rgb(255, 255, 255);
    transition-duration: 0.2s;
  }

  .landing h1:hover {
    color:rgb(255, 255, 255);
  }


  .buttonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 70px 140px;
    border-radius: 16px;
    transition-duration: 0.2s;
    color: aliceblue;
  }

  .buttonContainer:hover {
    background-color: azure;
  }


  
